<button nz-button nzType="primary" (click)="new()">New</button>
<nz-table >
    <thead>
      <tr>
        <th>Code</th>
        <th>Product</th>
        <th>Unit Price</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let data of productList">
        <td>{{ data.productCode }}</td>
        <td>{{ data.productName }}</td>
        <td>{{ data.unitPrice }} </td>
        <td>
          <a (click)="edit(data)" >Edit</a>
          <nz-divider nzType="vertical"></nz-divider>
          <a (click)="showDeleteConfirm()" > Delete</a>
        </td>
      </tr>
    </tbody>
  </nz-table>

