<form nz-form >
    <nz-form-item>
      <nz-form-label [nzSpan]="7" nzRequired>Date</nz-form-label>
      <nz-form-control [nzSpan]="12" nzValidatingTip="Validating...">
        <nz-select nzShowSearch nzAllowClear nzPlaceHolder="Select a person" >
            <nz-option nzLabel="Allen Campbell" nzValue="jack"></nz-option>
        </nz-select>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label [nzSpan]="7" nzRequired>Categroy</nz-form-label>
      <nz-form-control [nzSpan]="12">
        <nz-select nzShowSearch nzAllowClear nzPlaceHolder="Select a person" >
            <nz-option nzLabel="0102 truck Freightlliner" nzValue="jack"></nz-option>
        </nz-select>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
        <nz-form-label [nzSpan]="7" nzRequired>Truck</nz-form-label>
        <nz-form-control [nzSpan]="12">
          <nz-select nzShowSearch nzAllowClear nzPlaceHolder="Select a person" >
              <nz-option nzLabel="0102 truck Freightlliner" nzValue="jack"></nz-option>
          </nz-select>
        </nz-form-control>
      </nz-form-item>
  

    <nz-form-item>
        <nz-form-label [nzSpan]="7" nzRequired>Descripcion</nz-form-label>
        <nz-form-control [nzSpan]="12">
          <input nz-input  placeholder="mobile" />
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label [nzSpan]="7" nzRequired>Amount</nz-form-label>
        <nz-form-control [nzSpan]="12">
          <input nz-input  placeholder="mobile" />
        </nz-form-control>
      </nz-form-item>
  </form>