<div class="dropcart">
    <ul class="dropcart__list">
        <li class="dropcart__item" *ngFor="let item of shopingCardBasket?.products ">
            <div class="dropcart__item-image image image--type--product">
                <a class="image__body" routerLink="/home/productfull/{{ item.productId }}">
                    <img class="image__tag" src="{{'https://stfredodev001.blob.core.windows.net/web/' + item?.imageName }}" alt="">
                </a>
            </div>
            <div class="dropcart__item-info">
                <div class="dropcart__item-name">
                    <a routerLink="/home/productfull/{{ item.productId }}">{{ item?.description }}</a>
                </div>
                <!-- <ul class="dropcart__item-features">
                    <li>Color: Yellow</li>
                    <li>Material: Aluminium</li>
                </ul> -->
                <div class="dropcart__item-meta">
                    <div class="dropcart__item-quantity">{{ item?.quantity }}</div>
                    <div class="dropcart__item-price">${{ item?.totalLine }}</div>
                </div>
            </div>
            <button type="button" class="dropcart__item-remove" (click)="deleteProduct(item?.id!)">
                <svg width="10" height="10">
                    <path d="M8.8,8.8L8.8,8.8c-0.4,0.4-1,0.4-1.4,0L5,6.4L2.6,8.8c-0.4,0.4-1,0.4-1.4,0l0,0c-0.4-0.4-0.4-1,0-1.4L3.6,5L1.2,2.6
                c-0.4-0.4-0.4-1,0-1.4l0,0c0.4-0.4,1-0.4,1.4,0L5,3.6l2.4-2.4c0.4-0.4,1-0.4,1.4,0l0,0c0.4,0.4,0.4,1,0,1.4L6.4,5l2.4,2.4
                C9.2,7.8,9.2,8.4,8.8,8.8z">
                    </path>
                </svg>
            </button>
        </li>
        <li class="dropcart__divider" role="presentation"></li>
        <!-- <li class="dropcart__item">
            <div class="dropcart__item-image image image--type--product"><a class="image__body"
                    href="product-full.html"><img class="image__tag" src="images/products/product-2-70x70.jpg"
                        alt=""></a></div>
            <div class="dropcart__item-info">
                <div class="dropcart__item-name"><a href="product-full.html">Brandix Brake Kit BDX-750Z370-S</a></div>
                <div class="dropcart__item-meta">
                    <div class="dropcart__item-quantity">1</div>
                    <div class="dropcart__item-price">$849.00</div>
                </div>
            </div>
            <button type="button" class="dropcart__item-remove">
                <svg width="10" height="10" class="ng-star-inserted" >
                    <path d="M8.8,8.8L8.8,8.8c-0.4,0.4-1,0.4-1.4,0L5,6.4L2.6,8.8c-0.4,0.4-1,0.4-1.4,0l0,0c-0.4-0.4-0.4-1,0-1.4L3.6,5L1.2,2.6
	                        c-0.4-0.4-0.4-1,0-1.4l0,0c0.4-0.4,1-0.4,1.4,0L5,3.6l2.4-2.4c0.4-0.4,1-0.4,1.4,0l0,0c0.4,0.4,0.4,1,0,1.4L6.4,5l2.4,2.4
	                        C9.2,7.8,9.2,8.4,8.8,8.8z">
                    </path>
                </svg>
            </button>
        </li> -->
        <!-- <li class="dropcart__divider" role="presentation"></li>
        <li class="dropcart__item">
            <div class="dropcart__item-image image image--type--product">
                <a class="image__body"
                    href="product-full.html">
                    <img class="image__tag" src="https://red-parts.html.themeforest.scompiler.ru/themes/red-ltr/images/products/product-5-70x70.jpg"
                        alt=""></a></div>
            <div class="dropcart__item-info">
                <div class="dropcart__item-name"><a href="product-full.html">Twin Exhaust Pipe From Brandix Z54</a>
                </div>
                <ul class="dropcart__item-features">
                    <li>Color: True Red</li>
                </ul>
                <div class="dropcart__item-meta">
                    <div class="dropcart__item-quantity">3</div>
                    <div class="dropcart__item-price">$1210.00</div>
                </div>
            </div>
            <button type="button" class="dropcart__item-remove">
                <svg width="10" height="10" class="ng-star-inserted" >
                    <path d="M8.8,8.8L8.8,8.8c-0.4,0.4-1,0.4-1.4,0L5,6.4L2.6,8.8c-0.4,0.4-1,0.4-1.4,0l0,0c-0.4-0.4-0.4-1,0-1.4L3.6,5L1.2,2.6
                            c-0.4-0.4-0.4-1,0-1.4l0,0c0.4-0.4,1-0.4,1.4,0L5,3.6l2.4-2.4c0.4-0.4,1-0.4,1.4,0l0,0c0.4,0.4,0.4,1,0,1.4L6.4,5l2.4,2.4
                            C9.2,7.8,9.2,8.4,8.8,8.8z">
                    </path>
                </svg>
            </button>
        </li>
        <li class="dropcart__divider" role="presentation"></li> -->
    </ul>
    <div class="dropcart__totals">
        <table>
            <tbody>
                <tr>
                    <th>Subtotal</th>
                    <td>$ {{ shopingCardBasket?.cardSubTotal}} </td>
                </tr>
                <tr>
                    <th>Shipping</th>
                    <td>$ {{ shopingCardBasket?.shipping }} </td>
                </tr>
                <tr>
                    <th>Tax</th>
                    <td>$ {{ shopingCardBasket?.tax }} </td>
                </tr>
                <tr>
                    <th>Total</th>
                    <td>$ {{ shopingCardBasket?.cardTotal }} </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="dropcart__actions">
        <a routerLink="/home/carddetail" class="btn btn-secondary">View Cart</a>
        <a routerLink="/home/checkout" class="btn btn-primary">Checkout</a>
    </div>
</div>