<button nz-button nzType="primary" (click)="new()">New</button>
<nz-spin [nzSpinning]="isSpinning">
<nz-table nzSize="small" >
    <thead>
      <tr>
        <th>Name</th>
        <th>Description</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let data of categoryList">
        <td>{{ data.categoryName}}</td>
        <td> {{ data.description }}</td>
        <td>
          <a nz-tooltip nzTooltipTitle="detail"><span nz-icon nzType="zoom-in" nzTheme="outline"></span></a>
          <nz-divider nzType="vertical"></nz-divider>
          <a nz-tooltip nzTooltipTitle="edit" (click)="edit(data)" ><span nz-icon nzType="edit" nzTheme="outline"></span></a>
          <nz-divider nzType="vertical"></nz-divider>
          <a  nz-tooltip nzTooltipTitle="delete" (click)="showDeleteConfirm()" ><span nz-icon nzType="delete" nzTheme="outline"></span></a>
        </td>
      </tr>
    </tbody>
  </nz-table>
</nz-spin>