<p>Order</p>




<!-- (ngModelChange)="changeCustomer($event)" -->

<nz-spin [nzSpinning]="isSpinning">
    <nz-table nzSize="small" >
        <thead>
          <tr>
            <th>Name</th>
            <th>Email</th>
            <th>Phone</th>
            <th>Address</th>
            <th>Action</th>
          </tr>
          <tr>
            <th>
                <nz-select
                    nzShowSearch
                    nzAllowClear
                    nzServerSearch
                    nzPlaceHolder="input search text"
                    [(ngModel)]="selectedValue"
                    [nzShowArrow]="false"
                    [nzFilterOption]="nzFilterOption"
                    (nzOnSearch)="searchCustomer($event)"
                    (ngModelChange)="changeCustomer($event)"
  
                >
                 <nz-option *ngFor="let o of customerOption" [nzLabel]="o.text" [nzValue]="o.value"></nz-option>
                </nz-select>    


            </th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let data of salesOrderList">
            <td>{{ data.customerName }}</td>
            <td> {{ data.email }}</td>
            <td> {{ data.phone }}</td>
            <td> {{ data.address }}</td>
            <td>
              <a nz-tooltip nzTooltipTitle="detail"><span nz-icon nzType="zoom-in" nzTheme="outline"></span></a>
              <nz-divider nzType="vertical"></nz-divider>
              <a nz-tooltip nzTooltipTitle="edit" (click)="edit()" ><span nz-icon nzType="edit" nzTheme="outline"></span></a>
              <nz-divider nzType="vertical"></nz-divider>
              <a  nz-tooltip nzTooltipTitle="delete" (click)="showDeleteConfirm()" ><span nz-icon nzType="delete" nzTheme="outline"></span></a>
            </td>
          </tr>
        </tbody>
      </nz-table>
    </nz-spin>
    