<form nz-form [formGroup]="validateForm" (ngSubmit)="submitForm()">
    <nz-form-item>
      <nz-form-label [nzSpan]="12" nzRequired nzFor="note">Name</nz-form-label>
      <nz-form-control [nzSpan]="12" nzErrorTip="Please input customer name!">
        <input id="note" type="text" nz-input formControlName="customerName" />
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label [nzSpan]="12" nzRequired nzFor="gender" nzRequired>Address</nz-form-label>
      <nz-form-control [nzSpan]="12" nzErrorTip="Please input Address">
        <input id="note" type="text" nz-input formControlName="address" />
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
        <nz-form-label [nzSpan]="12" nzRequired nzFor="gender" nzRequired>Email</nz-form-label>
        <nz-form-control [nzSpan]="12" nzErrorTip="Please input Email">
          <input id="note" type="text" nz-input formControlName="email" />
        </nz-form-control>
    </nz-form-item>
    <nz-form-item>
        <nz-form-label [nzSpan]="12" nzRequired nzFor="gender" nzRequired>Phone</nz-form-label>
        <nz-form-control [nzSpan]="12" nzErrorTip="Please input Phone">
          <input id="note" type="text" nz-input formControlName="phone" />
        </nz-form-control>
    </nz-form-item>

    <nz-form-item>
      <nz-form-control [nzSpan]="12" [nzOffset]="5">
        <button nz-button nzType="primary">Submit</button>
      </nz-form-control>
    </nz-form-item>
  </form>
