<div class="site--desktop-header--spaceship-one">
<header class="site__header">
    <div>
        <div class="header">
            <!-- <div class="header__megamenu-area megamenu-area"></div>
            <div class="header__topbar-start-bg ng-star-inserted"></div>
            <div class="header__topbar-start">
                <div layout="spaceship-start" class="topbar topbar--spaceship-start">
                    <div class="topbar__item-text d-none d-xxl-flex ng-star-inserted">Call Us: (800) 060-0730</div>
                    <div class="topbar__item-text ng-star-inserted">
                        <a routerlink="/site/about-us" class="topbar__link" href="/themes/red/site/about-us">About
                            Us</a>
                    </div>
                    <div class="topbar__item-text ng-star-inserted">
                        <a routerlink="/site/contact-us-v1" class="topbar__link"
                            href="/themes/red/site/contact-us-v1">Contacts</a>
                    </div>
                    <div class="topbar__item-text ng-star-inserted">
                        <a routerlink="/shop/track-order" class="topbar__link" href="/themes/red/shop/track-order">Track
                            Order</a>
                    </div>
                </div>
            </div>
            <div class="header__topbar-end-bg ng-star-inserted"></div>
            <div class="header__topbar-end ng-star-inserted">
                <div layout="spaceship-end" class="topbar topbar--spaceship-end">
                    <div class="topbar__item-button ng-star-inserted">
                        <a routerlink="/shop/compare" class="topbar__button" href="/themes/red/shop/compare">
                            <span class="topbar__button-label">Compare:</span>
                            <span class="topbar__button-title">0</span>
                        </a>
                    </div>
                    <div appdropdown="" class="topbar__item-button topbar__menu">
                        <button type="button" class="topbar__button topbar__button--has-arrow topbar__menu-button">
                            <span class="topbar__button-label">Currency:</span>
                            <span class="topbar__button-title">USD</span>
                            <span class="topbar__button-arrow">
                                <div icon="arrow-down-sm-7x5">
                                    <svg width="7px" height="5px" class="ng-star-inserted">
                                        <path
                                            d="M0.280,0.282 C0.645,-0.084 1.238,-0.077 1.596,0.297 L3.504,2.310 L5.413,0.297 C5.770,-0.077 6.363,-0.084 6.728,0.282 C7.080,0.634 7.088,1.203 6.746,1.565 L3.504,5.007 L0.262,1.565 C-0.080,1.203 -0.072,0.634 0.280,0.282 Z">
                                        </path>
                                    </svg>
                                </div>
                            </span>
                        </button>
                        <div class="topbar__menu-body">
                            <button type="button" class="topbar__menu-item ng-star-inserted"> $ US Dollar </button>
                            <button type="button" class="topbar__menu-item ng-star-inserted"> £ Pound Sterling </button>
                            <button type="button" class="topbar__menu-item ng-star-inserted"> € Euro </button>
                            <button type="button" class="topbar__menu-item ng-star-inserted"> ₽ Russian Ruble </button>
                            
                        </div>
                    </div>
                    <div appdropdown="" class="topbar__item-button topbar__menu ng-star-inserted">
                        <button type="button" class="topbar__button topbar__button--has-arrow topbar__menu-button">
                            <span class="topbar__button-label">Language:</span>
                            <span class="topbar__button-title">EN</span>
                            <span class="topbar__button-arrow">
                                <div icon="arrow-down-sm-7x5" _nghost-serverapp-c19="">
                                    <svg width="7px" height="5px" class="ng-star-inserted">
                                        <path _ngcontent-serverApp-c19=""
                                            d="M0.280,0.282 C0.645,-0.084 1.238,-0.077 1.596,0.297 L3.504,2.310 L5.413,0.297 C5.770,-0.077 6.363,-0.084 6.728,0.282 C7.080,0.634 7.088,1.203 6.746,1.565 L3.504,5.007 L0.262,1.565 C-0.080,1.203 -0.072,0.634 0.280,0.282 Z">
                                        </path>
                                    </svg>
                                </div>
                            </span>
                        </button>
                        <div class="topbar__menu-body">
                            <button type="button" class="topbar__menu-item ng-star-inserted">
                                <img src="assets/images/languages/language-1.png" alt="English">
                                <span>English</span>
                            </button>
                            <button type="button" class="topbar__menu-item ng-star-inserted">
                                <img src="assets/images/languages/language-2.png" alt="Russian">
                                <span>Russian</span>
                            </button>
                            <button type="button" class="topbar__menu-item ng-star-inserted">
                                <img src="assets/images/languages/language-3.png" alt="RTL">
                                <span>RTL</span>
                            </button>
                        </div>
                    </div>
                </div>
            </div> -->
            <div class="header__navbar">
          
                
            </div>
            <!--BUSQUEDA*****************************************************************-->
            <div class="header__search">
                <app-search></app-search>
            </div>

            <div _ngcontent-serverapp-c55="" class="header__indicators">
                <!-- <div link="/shop/wishlist" icon="heart-32" class="indicator indicator--trigger--hover">
                    <a class="indicator__button" href="/shop/wishlist">
                        <span class="indicator__icon">
                            <div>
                                <svg width="32" height="32" class="ng-star-inserted">
                                    <path d="M23,4c3.9,0,7,3.1,7,7c0,6.3-11.4,15.9-14,16.9C13.4,26.9,2,17.3,2,11c0-3.9,3.1-7,7-7c2.1,0,4.1,1,5.4,2.6l1.6,2l1.6-2
	                                C18.9,5,20.9,4,23,4 M23,2c-2.8,0-5.4,1.3-7,3.4C14.4,3.3,11.8,2,9,2c-5,0-9,4-9,9c0,8,14,19,16,19s16-11,16-19C32,6,28,2,23,2L23,2
	                                z">
                                    </path>
                                </svg>
                            </div>
                            <span class="indicator__counter ng-star-inserted">1</span>
                        </span>
                    </a>
                    <div class="indicator__content"></div>
                </div> -->
                <div _ngcontent-serverapp-c55="" link="/account" icon="person-32"
                    trigger="click" _nghost-serverapp-c49="" class="indicator indicator--trigger--click"><a
                        _ngcontent-serverapp-c49="" class="indicator__button" href="/account"><span
                            _ngcontent-serverapp-c49="" class="indicator__icon"><div _ngcontent-serverapp-c49=""
                                _nghost-serverapp-c19=""><!----><!----><!----><!----><!----><!----><!----><!----><!----><!----><!----><!----><!----><!----><!----><!----><!----><!----><!----><!----><!----><!----><!----><!----><!----><!----><!----><!----><!----><!----><!----><!----><!----><!----><!----><svg
                                    _ngcontent-serverApp-c19="" width="32" height="32" class="ng-star-inserted">
                                    <path _ngcontent-serverApp-c19="" d="M16,18C9.4,18,4,23.4,4,30H2c0-6.2,4-11.5,9.6-13.3C9.4,15.3,8,12.8,8,10c0-4.4,3.6-8,8-8s8,3.6,8,8c0,2.8-1.5,5.3-3.6,6.7
	                                    C26,18.5,30,23.8,30,30h-2C28,23.4,22.6,18,16,18z M22,10c0-3.3-2.7-6-6-6s-6,2.7-6,6s2.7,6,6,6S22,13.3,22,10z"></path>
                                </svg><!----><!----><!----><!----><!----><!----></div><!----></span><span
                            _ngcontent-serverapp-c49="" class="indicator__title ng-star-inserted">Hello, Log
                            In</span><!----><span _ngcontent-serverapp-c49=""
                            class="indicator__value ng-star-inserted">My Account</span><!----></a>
                    <div _ngcontent-serverapp-c49="" class="indicator__content"><div
                            _ngcontent-serverapp-c55="" _nghost-serverapp-c50="" class="account-menu">
                            <form _ngcontent-serverapp-c50="" novalidate=""
                                class="account-menu__form ng-untouched ng-pristine ng-valid ng-star-inserted">
                                <div _ngcontent-serverapp-c50="" class="account-menu__form-title"> Log In to Your
                                    Account </div><!---->
                                <div _ngcontent-serverapp-c50="" class="form-group"><label _ngcontent-serverapp-c50=""
                                        for="header-signin-email" class="sr-only">Email address</label><input
                                        _ngcontent-serverapp-c50="" id="header-signin-email" type="email"
                                        placeholder="customer@example.com" formcontrolname="email"
                                        class="form-control form-control-sm ng-untouched ng-pristine ng-valid">
                                    <div _ngcontent-serverapp-c50="" class="invalid-feedback"><!----><!----></div>
                                </div>
                                <div _ngcontent-serverapp-c50="" class="form-group"><label _ngcontent-serverapp-c50=""
                                        for="header-signin-password" class="sr-only">Password</label>
                                    <div _ngcontent-serverapp-c50="" class="account-menu__form-forgot"><input
                                            _ngcontent-serverapp-c50="" id="header-signin-password" type="password"
                                            formcontrolname="password"
                                            class="form-control form-control-sm ng-untouched ng-pristine ng-valid"
                                            placeholder="Secret word"><a _ngcontent-serverapp-c50="" routerlink="/"
                                            class="account-menu__form-forgot-link" href="">Forgot?</a></div>
                                    <div _ngcontent-serverapp-c50="" class="invalid-feedback"><!----></div>
                                </div>
                                <div _ngcontent-serverapp-c50="" class="form-group account-menu__form-button"><button
                                        _ngcontent-serverapp-c50="" type="submit"
                                        class="btn btn-primary btn-sm">Login</button></div>
                                <div _ngcontent-serverapp-c50="" class="account-menu__form-link"><a
                                        _ngcontent-serverapp-c50="" routerlink="/account/login" href="">Create An Account</a></div><!---->
                            </form><!----><!---->
                        </div></div>
                </div>
                <div class="indicator indicator--trigger--click">
                    <!-- <a  class="indicator__button" (click)="openDropCart()" href="javascript: void(0);"> -->
                    <a  class="indicator__button" nz-dropdown nzTrigger="click" [nzDropdownMenu]="menu" >      
                        <span class="indicator__icon">
                            <div>
                                <svg width="32" height="32" class="ng-star-inserted">
                                    <circle _ngcontent-serverApp-c19="" cx="10.5" cy="27.5" r="2.5"></circle>
                                    <circle _ngcontent-serverApp-c19="" cx="23.5" cy="27.5" r="2.5"></circle>
                                    <path _ngcontent-serverApp-c19="" d="M26.4,21H11.2C10,21,9,20.2,8.8,19.1L5.4,4.8C5.3,4.3,4.9,4,4.4,4H1C0.4,4,0,3.6,0,3s0.4-1,1-1h3.4C5.8,2,7,3,7.3,4.3
                                    l3.4,14.3c0.1,0.2,0.3,0.4,0.5,0.4h15.2c0.2,0,0.4-0.1,0.5-0.4l3.1-10c0.1-0.2,0-0.4-0.1-0.4C29.8,8.1,29.7,8,29.5,8H14
                                    c-0.6,0-1-0.4-1-1s0.4-1,1-1h15.5c0.8,0,1.5,0.4,2,1c0.5,0.6,0.6,1.5,0.4,2.2l-3.1,10C28.5,20.3,27.5,21,26.4,21z">
                                    </path>
                                </svg>
                            </div>
                            <span class="indicator__counter ng-star-inserted">{{ shopingCardBasket?.lineItems }}</span>
                         </span>
                         <span class="indicator__title">Shopping Cart</span>
                         <span class="indicator__value">$ {{shopingCardBasket?.cardTotal}}</span>
                    </a>
                    <!-- <div #dropcart class="indicator__content" [ngClass]="showDropCart ? 'indicator--open' : ''">
                        <app-dropcart></app-dropcart>

                    </div> -->
                    <nz-dropdown-menu #menu="nzDropdownMenu">
                        <div class="indicator__content">
                            <app-dropcart></app-dropcart>
                        </div>
                    </nz-dropdown-menu>
                   
                </div>
            </div>
        </div>
    </div>
</header>
</div>