
<div style="display: flex; flex-wrap: wrap;">

    <div class="product-list-item">
        <app-product-card></app-product-card>
    </div>
    <div class="product-list-item">
        <app-product-card></app-product-card>
    </div>
    <div class="product-list-item">
        <app-product-card></app-product-card>
        
    </div>  
    <div class="product-list-item">
        <app-product-card></app-product-card>
    </div>
    <div class="product-list-item">
        <app-product-card></app-product-card>
    </div>
    <div class="product-list-item">
        <app-product-card></app-product-card>
        
    </div> 
  
</div>

