<button nz-button nzType="primary" (click)="new()">New</button>
<nz-table >
    <thead>
      <tr>
        <th>Name</th>
        <th>Email</th>
        <th>Phone</th>
        <th>Address</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let data of customerList">
        <td>{{ data.customerName }}</td>
        <td> {{ data.email }}</td>
        <td> {{ data.phone }}</td>
        <td> {{ data.address }}</td>
        <td>
          <a (click)="edit(data)" >Edit</a>
          <nz-divider nzType="vertical"></nz-divider>
          <a (click)="showDeleteConfirm()" > Delete</a>
        </td>
      </tr>
    </tbody>
  </nz-table>

