<div class="block-header block-header--has-breadcrumb block-header--has-title">
    <div class="container">
        <div class="block-header__body">
            <nav class="breadcrumb block-header__breadcrumb" aria-label="breadcrumb">
                <ol class="breadcrumb__list">
                    <li class="breadcrumb__spaceship-safe-area" role="presentation"></li>
                    <li class="breadcrumb__item breadcrumb__item--parent breadcrumb__item--first">
                        <a routerLink="/home/shop" class="breadcrumb__item-link">Shop</a>
                    </li>
                    <li class="breadcrumb__item breadcrumb__item--current breadcrumb__item--last" aria-current="page">
                        <span class="breadcrumb__item-link">Checkout</span>
                    </li>
                    <li class="breadcrumb__title-safe-area" role="presentation"
                        style="--block-header-title-width: 219.5px;"></li>
                </ol>
            </nav>
            <!-- <h1 class="block-header__title"></h1> -->
        </div>
    </div>
</div> 
<div class="block-split block-split--has-sidebar">
    <div class="container">
        <div class="checkout block">
            <div class="container container--max--xl">
                <div class="row">
                    <div class="col-12 mb-3">
                        <!-- <div class="alert alert-lg alert-primary"><a routerLink="/account/login" >Click here to login</a>
                        </div> -->
                    </div>
                    <div class="col-12 col-lg-6 col-xl-7">
                        <div class="card mb-lg-0">
 
                            <div class="card-divider"></div>
                            <div class="card-body card-body--padding--2">
                                <h3 class="card-title">Shipping Details</h3>
 
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-lg-6 col-xl-5 mt-4 mt-lg-0">
                        <div class="card mb-0">
                            <div class="card-body card-body--padding--2">
                                <h3 class="card-title">Your Order</h3>
                                <table class="checkout__totals">
                                    <thead class="checkout__totals-header">
                                        <tr>
                                            <th>Product</th>
                                            <th>Total</th>
                                        </tr>
                                    </thead>
                                    <tbody class="checkout__totals-products">
                                        <tr *ngFor="let item of shopingCardBasket?.products ">
                                            <td>{{ item?.description }} ×  {{ item?.quantity }}</td>
                                            <td>${{ item?.totalLine }}</td>
                                        </tr>
                                    </tbody>
                                    <tbody class="checkout__totals-subtotals">
                                        <tr>
                                            <th>Subtotal</th>
                                            <td>${{ shopingCardBasket?.cardSubTotal}} </td>
                                        </tr>
                                        <tr>
                                            <th>Tax</th>
                                            <td>$ {{ shopingCardBasket?.tax }} </td>
                                        </tr>
                                        <tr>
                                            <th>Shipping</th>
                                            <td>${{ shopingCardBasket?.shipping }} </td>
                                        </tr>
                                    </tbody>
                                    <tfoot class="checkout__totals-footer">
                                        <tr>
                                            <th>Total</th>
                                            <td>${{ shopingCardBasket?.cardTotal }}</td>
                                        </tr>
                                    </tfoot>
                                </table>
                               
                                <div class="checkout__agree form-group">
                                    <div class="form-check"><span class="input-check form-check-input"><span
                                                class="input-check__body"><input class="input-check__input"
                                                    type="checkbox" id="checkout-terms"> <span
                                                    class="input-check__box"></span> <span
                                                    class="input-check__icon"><svg width="9px" height="7px">
                                                        <path
                                                            d="M9,1.395L3.46,7L0,3.5L1.383,2.095L3.46,4.2L7.617,0L9,1.395Z">
                                                        </path>
                                                    </svg> </span></span></span><label class="form-check-label"
                                            for="checkout-terms">I have read and agree to the website <a target="_blank"
                                                href="">terms and conditions</a></label></div>
                                </div><button type="submit" class="btn btn-primary btn-xl btn-block">Place
                                    Order</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>