<nz-table nzSize="small" #monitorTable [nzData]="monitorList">
    <thead>
      <tr>
        <th>Name</th>
        <th>Monitor Log</th>
        <th>Create</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let data of monitorTable.data">
        <td>{{ data.monitorDescription}}</td>
        <td> {{ data.monitorLog }}</td>
        <td>
            {{ data.createdDate }}
          <!-- <a (click)="edit(data)" >Edit</a>
          <nz-divider nzType="vertical"></nz-divider>
          <a (click)="showDeleteConfirm()" > Delete</a> -->
        </td>
      </tr>
    </tbody>
  </nz-table>